  
body {
	background-color:purple;
	color: white;
	font-size: 40px;
	
}
a{
	color: yellow;
	text-decoration: none;
}
a:hover{
	color: white;
}
img{
	width: 40vw;
	text-align: center;
}
width: 40vw;
	text-align: center;