body {
	background-color: rgba(100, 100, 100, 0.712);
  }
  
  h3 {
	background-color:white);
	padding: 2vw;
	margin: 3vh;
  }
  main {
	  background-color: grey;
	  border:  solid black;
	  border-radius:
  }
  div {
	background-color: rgb(102, 102, 102);
	text-align: center;
	  display: flex;
  }
  p {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	  font-size: 30px;
	  padding: 4vw;
	  color:black;
	bottom: 200px;
	font-family:Arial, Helvetica, sans-serif;
  }
  img {
	  width: 30vw;
	  align-content:center;
	text-align: center;
  }