  
body {
	background-color:darkslategrey;
	color: aliceblue;
	font-size: 40px;
	
}
h1{
	text-align: center;
	background-color:black;
	color: white;
	font-size: 60px;
}
section{
	font-size:36px ;
}
div {
	text-align: center;
	display: flex;
}
img{
	size: 80vw ;
	padding: 2vw;
}
a{
color: white;
text-decoration: none;
}
a:hover{
	color: lightgreen;
}