  
body {
	background-color:darkslategrey;
	color: aliceblue;
	font-size: 40px;
	
}
h1{
	text-align: center;
	background-color:black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size: 60px;
	padding: 2vw;
}
}
section{
	font-size:36px ;
	font-family: Arial, Helvetica, sans-serif;
}
div {
	text-align: center;
	display: flex;
}
img{
 size: 40px;
	padding: 2vw;
}
a{
color: white;
text-decoration: none;
text-align: center;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}
a:hover{
	color: lightgreen;
}