  
body {
	background-color: rgb(70, 70, 70);
	color: white;
	font-size: 40px;
	
}
h1{
	text-align: center;
	padding-top: 10vw;
}
a{
	color:whitesmoke;
	text
}

a:hover{
	font-size: 100;
	color: rgb(100,200,0);
  }