body {
	background-color:lightblue;
	color:black;
  }
  
a {
	color: yellow;
	font-size: 65;
	text-decoration: none;
  }
  
  a:hover {
	font-size: 100;
	color: rgb(0,200,0);
  }

  img {
	width: 40vw;
  text-align: center;
  }